!!! 5
%html
  %head
    %title
    %meta(charset='UTF-8')
    %meta(name='robots' content='noindex,nofollow')
    %meta(name='Keywords' content='')
    %meta(name='description' content='')
    %meta(name='abstract' content='')
    %meta(name='distribution' content='Global')
    %meta(name='copyright' content='')
    %meta(name='author' content='')
    %link(href='' rel='stylesheet' type='text/css')
  %body
